input[type=text] {
    width: 100%;
    display: block;
    background-color: #FFE700;
    color: blue;
}

button[type=submit] {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 140px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  button[type=submit] span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  button[type=submit] span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  button[type=submit]:hover span {
    padding-right: 25px;
  }
  
  button[type=submit]:hover span:after {
    opacity: 1;
    right: 0;
  }

label {
    font-weight: bold;
}
html {
    background-color: #515151;
}

.todo {
    background-color: rgba(255, 0, 0, 0.20);
}

.done {
    background-color: rgba(0, 255, 0, 0.20);
}

td {
    padding: 5px;
}

td:nth-child(3) {
    padding: 0px;
}

td:nth-child(3) span {
    padding: 5px;
    border-radius: 20px;
}

tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.20);
}

tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}

table {
    width: 100%;
}